__pycache__/*.pyc
1_user_input.xlsx
2_time_info.xlsx
3_merging.xlsx
4_with_data.xlsx
5_with_32int.xlsx
6_analog_trans.xlsx
text.txt
time_sequence.xlsx

UI/gui_2.py
~$time_sequence.xlsx
~$2_time_info.xlsx
instrument_info.xlsx
working_address.txt
instrument_info.xlsx
